<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chào mừng</title>
  </head>
  <body>
    <h2>Xin chào {{name}},</h2>
    <p>Cảm ơn bạn đã đăng ký tài khoản tại <b>POSitive</b>.</p>
    <p>Đây là tài khoản của bạn: 
       <br>
       Email: {{mail}} 
       <br>
       Mật khẩu: {{password}}
    </p>
    <div>
        Truy cập vào link sau để sử dụng dịch vụ của chúng tôi: <a href="https://montserrat.id.vn/admin/login" target="_blank">Sử dụng dịch vụ</a>
    </div>

    {{> footer}}
  </body>
</html>
