<div class="container-fluid bg-dark text-white-50 footer pt-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <a href="/" class="d-inline-block mb-3">
                    <h1 class="text-white">POSitive</h1>
                </a>
                <p class="mb-0">POSitive là một giải pháp phần mềm quản lý bán hàng (POS) thế hệ mới, được thiết kế
                    chuyên biệt để giúp các Hộ kinh doanh và Doanh nghiệp vừa và nhỏ tại Việt Nam vận hành hiệu quả và
                    tuân thủ pháp luật</p>
            </div>
            <div class="col-md-6 col-lg-2 wow fadeIn" data-wow-delay="0.1s"></div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <h5 class="text-white mb-4">Thông Tin Liên Hệ</h5>
                <p><i class="fa fa-map-marker-alt me-3"></i><a class="text-white" href="https://maps.app.goo.gl/2KmzQcguDLDeJ4e58"
                        target="_blank">km 29, Đại lộ, Thăng Long, Hà Nội</a></p>
                <p><i class="fa fa-phone-alt me-3"></i><a class="text-white" href="tel:+84902275770">0922725770</a></p>
                <p><i class="fa fa-envelope me-3"></i><a class="text-white"
                        href="mailto:quyennthe180534@fpt.edu.vn">quyennthe180534@fpt.edu.vn</a></p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="https://youtu.be/_AAnsZhTlOw"><i
                            class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>