<div class="container-fluid pb-5 hero-header bg-light mb-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center mb-5">
            <div class="col-lg-7">
                <h1 class="display-1 mb-4 animated slideInRight">Thay Đổi Tích Cực, Đột Phá Thành Công </h1>
                <h5 class="d-inline-block border border-2 border-white py-3 px-5 mb-0 animated slideInRight">
                    Giải Pháp Quản Lý Tối Ưu Cho Cửa Hàng Của Bạn</h5>
            </div>
            <div class="col-lg-5">
                <div class="owl-carousel header-carousel animated fadeIn">
                    <img class="img-fluid" src="\img\header-1.jpeg" alt="">
                    <img class="img-fluid" src="\img\header-2.jpeg" alt="">
                    <img class="img-fluid" src="\img\header-3.jpeg" alt="">
                </div>
            </div>
        </div>

    </div>
</div>