<div class="container-fluid pb-5 hero-header bg-light mb-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center mb-5">
            <div class="col-lg-6">
                <h1 class="display-1 mb-4 animated slideInRight">Thay Đổi Tích Cực, Đột Phá Thành Công </h1>
                <h5 class="d-inline-block border border-2 border-white py-3 px-5 mb-0 animated slideInRight">
                    Một Giải Pháp Tối Ưu Cho Doanh Nghiệp Của Bạn</h5>
            </div>
            <div class="col-lg-6">
                <div class="owl-carousel header-carousel animated fadeIn">
                    <img class="img-fluid" src="" alt="">
                    <img class="img-fluid" src="" alt="">
                    <img class="img-fluid" src="" alt="">
                </div>
            </div>
        </div>

    </div>
</div>