<div class="container-fluid sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light border-bottom border-2 border-white">
            <a href="/" class="navbar-brand">
                <h1>POSitive</h1>
            </a>
            <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="/" class="nav-item nav-link active">Trang Chủ</a>
                    <a href="/tuyen-dung" class="nav-item nav-link">Tuyển Dụng</a>
                    <a href="/ve-positive" class="nav-item nav-link">Về POSitive</a>
                    <a href="/#dang-ky" class="nav-item nav-link">Đăng Ký</a>
                </div>
            </div>
        </nav>
    </div>
</div>