<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/_AAnsZhTlOw?autoplay=1" title="POSitive Introduction"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-5"><span class="text-uppercase text-primary bg-light px-2">POSitive</span></h1>
                <p class="mb-4">POSitive là một giải pháp phần mềm quản lý bán hàng (POS) thế hệ mới, được thiết kế
                    chuyên biệt để giúp các Hộ kinh doanh và Doanh nghiệp vừa và nhỏ tại Việt Nam vận hành hiệu quả và
                    tuân thủ pháp luật. </p>
                <p class="mb-4">Dự án ra đời nhằm giải quyết các vấn đề phổ biến của nhóm đối tượng này như:
                    quản lý kho hàng thủ công, quy trình thanh toán chậm chạp, chi phí đầu tư phần cứng cao, và đặc biệt
                    là sự phức tạp khi phải tuân thủ Nghị định 70 về hóa đơn điện tử.</p>
                <p class="mb-4">Phần mềm POS của POSitive bao gồm 2 thành phần chính:</p>
                <p class="mb-2">
                <ul class="list-inline">
                    <li class="mb-4">1. Giao diện Bán hàng (Front Portal)
                        <ul class="list-inline">
                            <li class="mb-2">
                                - Dành cho nhân viên thực hiện các giao dịch hàng ngày tại quầy.
                            </li>
                            <li class="mb-2">
                                - Thanh toán tốc độ cao, hỗ trợ đa dạng phương thức (QR Code, tiền mặt).
                            </li>
                            <li class="mb-2">
                                - Tự động gửi hóa đơn điện tử có chữ ký số ngay sau khi thanh toán.
                            </li>
                            <li class="mb-2">
                                - Sử dụng camera của thiết bị di động để quét mã vạch, loại bỏ nhu cầu về máy quét riêng
                                (có thể mở rộng nếu cần)
                            </li>
                        </ul>
                    </li>
                    <li class="mb-4">2. Cổng Quản trị (Admin Portal)
                        <ul class="list-inline">
                            <li class="mb-2">
                                - Dành cho chủ kinh doanh để quản lý và theo dõi toàn bộ hoạt động từ xa.
                            </li>
                            <li class="mb-2">
                                - Quản lý kho hàng và sản phẩm theo thời gian thực.
                            </li>
                            <li class="mb-2">
                                - Xem báo cáo doanh thu, lợi nhuận trực quan.
                            </li>
                            <li class="mb-2">
                                - Quản lý thông tin khách hàng và các chương trình khuyến mãi.
                            </li>
                            <li class="mb-2">
                                - Phân quyền và quản lý nhân viên.
                            </li>
                        </ul>
                    </li>
                </ul>
                </p>
                <p>
                    POSitive hướng tới xây dựng một giải pháp công nghệ
                    toàn diện, giúp các Hộ kinh doanh và Doanh nghiệp vừa và nhỏ tại Việt Nam số hóa hoạt động một
                    cách
                    đơn giản, tiết kiệm, bền vững.
                </p>
                <h6 class="mb-5">
                    POSitive - Positive change, positive growth.
                </h6>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Tuân thủ pháp luật</h6>
                        <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Nhân viên chuyên nghiệp</h6>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Hỗ trợ 24/7</h6>
                        <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Giá cả phù hợp</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->