<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row">
                    <div class="wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid" src="img/aboutUs.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-5"><span class="text-uppercase text-primary bg-light px-2">POSitive</span></h1>
                <p class="mb-4">POSitive là một giải pháp phần mềm quản lý bán hàng (POS) thế hệ mới, được thiết kế
                    chuyên biệt để giúp các Hộ kinh doanh và Doanh nghiệp vừa và nhỏ tại Việt Nam vận hành hiệu quả và
                    tuân thủ pháp luật. </p>
                <p class="mb-5">Dự án ra đời nhằm giải quyết các vấn đề phổ biến của nhóm đối tượng này như:
                    quản lý kho hàng thủ công, quy trình thanh toán chậm chạp, chi phí đầu tư phần cứng cao, và đặc biệt
                    là sự phức tạp khi phải tuân thủ Nghị định 70 về hóa đơn điện tử.</p>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Tuân thủ pháp luật</h6>
                        <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Nhân viên chuyên nghiệp</h6>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Hỗ trợ 24/7</h6>
                        <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Giá cả phù hợp</h6>
                    </div>
                </div>
                <div class="d-flex align-items-center mt-5">
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i
                            class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->