<!-- Feature Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center wow fadeIn" data-wow-delay="0.1s">
            <h1 class="mb-5"><span class="text-uppercase text-primary bg-light px-2">Hướng đi</span>
                mới cho cửa hàng của bạn
            </h1>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-9">
                <div class="row g-5 align-items-center mt-5">
                    <div class="col-md-6">
                        <div class="testimonial-img">
                            <img class="img-fluid" src="/img/feature-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pb-5 pb-md-0 text-start">
                            <h3>Thân thiện với người dùng</h3>
                            <p>Sản phẩm công nghệ được thiết kế với giao diện thân thiện, dễ sử dụng và tối ưu cho thói
                                quen, nhu cầu của người dùng Việt Nam</p>
                        </div>
                    </div>
                </div>

                <div class="row g-5 align-items-center mt-5 bg-light">
                    <div class="col-md-6">
                        <div class="pb-5 pb-md-0 text-start">
                            <h3>Truy cập tiện lợi, đa nền tảng, không cần cài đặt</h3>
                            <p>Sản phẩm công nghệ cho phép truy cập tiện lợi ở bất cứ đâu, trên bất kì thiết bị nào mà
                                không cần
                                cài đặt, mang lại trải nghiệm nhanh chóng, linh hoạt</p>
                        </div>
                    </div>
                    <div class="col-md-6 pb-5">
                        <div>
                            <img class="img-fluid" src="/img/feature-2.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="row g-5 align-items-center mt-5">
                    <div class="col-md-6">
                        <div class="testimonial-img">
                            <img class="img-fluid" src="/img/feature-3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pb-5 pb-md-0 text-start">
                            <h3>Quản lý sản phẩm & lợi nhuận</h3>
                            <p>Giải pháp công nghệ giúp bạn theo dõi sản phẩm và quản lý lợi nhuận dễ dàng, tối ưu hiệu
                                quả kinh doanh ngay trên một nền tảng</p>
                        </div>
                    </div>
                </div>

                <div class="row g-5 align-items-center mt-5 bg-light">
                    <div class="col-md-6">
                        <div class="pb-5 pb-md-0 text-start">
                            <h3>Quét nhanh bằng điện thoại</h3>
                            <p>Chỉ với chiếc điện thoại, bạn dễ dàng nhận diện và quản lý sản phẩm, không cần thiết bị
                                quét mã vạch phức tạp</p>
                        </div>
                    </div>
                    <div class="col-md-6 pb-5">
                        <div>
                            <img class="img-fluid" src="/img/feature-4.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="row g-5 align-items-center mt-5">
                    <div class="col-md-6">
                        <div class="testimonial-img">
                            <img class="img-fluid" src="/img/feature-3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pb-5 pb-md-0 text-start">
                            <h3>Quản lý sản phẩm & lợi nhuận</h3>
                            <p>Giải pháp công nghệ giúp bạn theo dõi sản phẩm và quản lý lợi nhuận dễ dàng, tối ưu hiệu
                                quả kinh doanh ngay trên một nền tảng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="text-center wow fadeIn" data-wow-delay="0.1s">
        <h1 class="mb-5">Đánh giá của khách hàng</h1>
    </div>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay="0.2s">
                    <div class="testimonial-item">
                        <div class="row g-5 align-items-center">
                            <div class="col-md-6">
                                <div class="testimonial-img">
                                    <img class="img-fluid" src="/img/testimonial-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="testimonial-text pb-5 pb-md-0">
                                    <p>Sản phẩm giúp quản lý dễ dàng hơn, theo dõi tồn kho, doanh thu và lợi nhuận nhanh
                                        chóng, đồng thời hỗ trợ bán hàng hiệu quả, tiết kiệm thời gian</p>
                                    <h5 class="mb-0">Boris Johnson</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="row g-5 align-items-center">
                            <div class="col-md-6">
                                <div class="testimonial-img">
                                    <img class="img-fluid" src="/img/testimonial-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="testimonial-text pb-5 pb-md-0">
                                    <p>Mình hài lòng về tính năng sản phẩm, tuy nhiên hỗ trợ phản hồi hơi chậm. Giá cả
                                        ổn, hy vọng dịch vụ cải thiện thêm</p>
                                    <h5 class="mb-0">Alexander Bell</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="row g-5 align-items-center">
                            <div class="col-md-6">
                                <div class="testimonial-img">
                                    <img class="img-fluid" src="/img/testimonial-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="testimonial-text pb-5 pb-md-0">
                                    <p>Sản phẩm dùng rất tốt, giao diện dễ hiểu. Nhân viên hỗ trợ nhiệt tình, tư vấn chi
                                        tiết, giá cả hợp lý so với chất lượng</p>
                                    <h5 class="mb-0">Bradley Gordon</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

<!-- Register Start -->
<div class="container-fluid bg-primary newsletter p-0" id="dang-ky">
    <div class="container p-0">
        <div class="row g-0 align-items-center">
            <div class="col-md-5 ps-lg-0 text-start wow fadeIn" data-wow-delay="0.2s">
                <img class="img-fluid w-80" src="/img/register.jpg" alt="">
            </div>
            <div class="col-md-7 py-5 newsletter-text wow fadeIn" data-wow-delay="0.5s">
                <div class="p-5">
                    <h1 class="mb-5">Đăng Ký Để Trải Nghiệm <span class="text-uppercase text-primary bg-white px-2">Miễn
                            Phí</span></h1>
                    <p>
                        
                    </p>
                    <!-- register form -->
                    <form method="POST" action="/dang-ky">
                        <div class="position-relative w-100 mb-2">
                            <input class="form-control border-0 w-100 ps-4 pe-5" type="text" name="name"
                                placeholder="Tên của bạn" style="height: 60px;" required>
                        </div>
                        <div class="position-relative w-100 mb-2">
                            <input class="form-control border-0 w-100 ps-4 pe-5" type="text" name="phone"
                                placeholder="Số điện thoại" style="height: 60px;" required>
                        </div>
                        <div class="position-relative w-100 mb-2">
                            <input class="form-control border-0 w-100 ps-4 pe-5" type="email" name="email"
                                placeholder="Email" style="height: 60px;" required>
                        </div>
                        <div class="position-relative w-100 mb-2">
                            <button class="btn btn-primary shadow-none  top-0 end-0 mt-2" type="submit">Đăng ký</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register End -->