<div class="container-fluid py-5">
    <div class="container">
        <div class="row justify-content-center align-items-top g-5 text-center">
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.5s">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Free</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">0 VND <small class="text-muted">/ Tháng</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li class="mb-3">- Cung cấp quy trình bán hàng thiết yếu</li>
                            <li class="mb-3">- Hỗ trợ tới 50 giao dịch/tháng trong 3 tháng</li>
                            <li class="mb-3">- Một cách hiệu quả để tiếp cận POSitive</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.5s">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Pro</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">200.000 VND <small class="text-muted">/ Tháng</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li class="mb-3">- Không giới hạn giao dịch</li>
                            <li class="mb-3">- Cung cấp hơn đơn điện tử</li>
                            <li class="mb-3">- Hỗ trợ trong giờ hành chính (9AM - 5PM)</li>
                            <li class="mb-3">- Lựa chọn lý tưởng cho hộ kinh doanh tại một địa điểm duy nhất</li>
                            <li class="mb-3">- Cung cấp các gói trong 3 tháng, 1 năm, 3 năm</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.5s">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Premium</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">650.000 VND <small class="text-muted">/ Tháng</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li class="mb-3">- Hỗ trợ tới 20 cửa hàng</li>
                            <li class="mb-3">- Các tính năng phân tích nâng cao</li>
                            <li class="mb-3">- Gói phần cứng POS miễn phí</li>
                            <li class="mb-3">- Cung cấp website e-commerce</li>
                            <li class="mb-3">- Hỗ trợ 24/7</li>
                            <li class="mb-3">- Cung cấp các gói trong 3 tháng, 1 năm, 3 năm</li>
                        </ul>
                    </div>
                </div>
            </div>
            <center>
                <a href="tel:+84902275770" class="btn btn-lg btn-block btn-outline-primary">Liên Hệ Với Chúng Tôi</a>
            </center>
        </div>
    </div>
</div>